
		<!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="utf-8">
				<title>Interactive + Read API</title>
				<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
			</head>
			<body>
				<div id="top">
					<ol>
						<li><a href="../collegeRank">News Ranker</a></li>
						<li><a href="../survey/">Survey</a></li>
						<li>Interactive + Read API</li>
						<li><a href="../map/">Map</a></li>
					</ol>
				</div>
				<div id="marginleft">
				</div>
				<p  id="first">Interactive + Read API</p>
				<div>
					<form method="post" action="{{ url_for('readAPI') }}">
						<fieldset>
							<legend>Interactive</legend>
							<br/>
							<label for="stateCollege" class="addCollege">Insert state initials and we'll print out the colleges.</label>
							<input type="text" name="stateCollege" id="stateCollege"/>
							
							<br/><br/>
							<label for="collegeCost" class="addCollege">Compare College Cost (Separate by commas)</label>
							<input type="text" name="collegeCost" id="collegeCost"/>
							<br/><br/> These colleges cost:<br/>University of Hartford, ranked 193, costs on average $37,790
							<br/><br/>
							
							<div class="buttonarea">
								<input type="submit" value="Run Program"/>
							<br/>
						</fieldset>
					</form>
				</div>	
				<p>Read API:<br/>From reading the api (https://api.data.gov/ed/collegescorecard/v1/schools.json), I gathered that the largest college is CUNY LaGuardia Community College with 16821 students</p>				
			</body>
		</html>
		